body {
  width: 550px;
  margin: 0;
  padding: 0;
}

.tab_wrapper {
  border: 2px solid;
  border-radius: 7px;
  padding: 20px;
}

.menuWrapper {
  display: flex;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 7px;
}

.menuWrapper button {
  width: 33.2%;
}
