form div {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

form div input {
  width: 228px;
}

.logger {
  width: 100%;
  display: block;
}

.logger p {
  width: 100%;
  margin-bottom: 13px;
}
